@media (max-width: 670px) {
  .is-pc {
    display: none;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #2B2B2B;
  width: 100%;
}

@media (max-width: 670px) {
  body {
    font-size: 14px;
  }
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

a {
  color: #2B2B2B;
  text-decoration: none;
}

li {
  list-style-type: none;
}

section {
  text-align: center;
}

.u-content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 670px) {
  .u-content-wrapper {
    width: calc(100% - 32px);
  }
}

.u-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 670px) {
  .u-heading {
    font-size: 28px;
  }
}

.u-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background: #2B2B2B;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.u-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

@media (max-width: 670px) {
  .u-text {
    text-align: left;
    padding-bottom: 32px;
  }
}

/* header
-------------------------------*/
.header {
  position: relative;
  height: 620px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/header.png);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/header.png);
  background-size: cover;
  text-align: center;
  color: #fff;
}

@media (max-width: 670px) {
  .header {
    height: 355px;
    padding-top: 0;
  }
}

.header__nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 64px;
}

@media (max-width: 670px) {
  .header__nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }
}

.position-change {
  position: fixed;
  top: 0;
  z-index: 100;
}

.color-change {
  color: #2B2B2B;
  background: #fff;
  border-bottom: 1px solid #A0A0A0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.color-change span,
.color-change span::before,
.color-change span::after {
  background: #2B2B2B;
}

.header__nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__logo {
  font-size: 36px;
}

@media (max-width: 670px) {
  .header__nav__logo {
    font-size: 24px;
  }
}

.hamburger-menu {
  position: relative;
  width: 32px;
  height: 64px;
  cursor: pointer;
}

.hamburger-menu__line,
.hamburger-menu__line::before,
.hamburger-menu__line::after,
.hamburger-menu__line--dummy {
  position: absolute;
  left: 0;
  display: block;
  width: 32px;
  height: 1px;
  background: #fff;
}

.hamburger-menu__line,
.hamburger-menu__line--dummy {
  top: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hamburger-menu__line::before, .hamburger-menu__line::after,
.hamburger-menu__line--dummy::before,
.hamburger-menu__line--dummy::after {
  content: '';
}

.hamburger-menu__line::before,
.hamburger-menu__line--dummy::before {
  top: calc(50% - 8px);
}

.hamburger-menu__line::after,
.hamburger-menu__line--dummy::after {
  top: calc(50% + 8px);
}

.active .hamburger-menu__line {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.active .hamburger-menu__line::before {
  top: 50%;
  opacity: 0;
}

.active .hamburger-menu__line::after {
  top: 50%;
  opacity: 0;
}

.active .hamburger-menu__line--dummy {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-menu {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 100;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.height-change {
  height: calc(100vh - 64px);
}

.header__menu__item {
  padding: 0;
  line-height: 11vh;
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #ccc;
}

.header__title {
  padding-top: 240px;
  font-size: 120px;
  font-weight: normal;
}

@media (max-width: 670px) {
  .header__title {
    padding-top: 120px;
    font-size: 64px;
  }
}

.header__title__sub {
  word-spacing: 4px;
}

.header__title__sub::before, .header__title__sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}

/* concept
-------------------------------*/
.concept {
  padding: 80px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #fff), color-stop(30%, #EDEDED));
  background: linear-gradient(#fff 70%, #EDEDED 30%);
}

@media (max-width: 670px) {
  .concept {
    padding: 40px 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #fff), color-stop(25%, #EDEDED));
    background: linear-gradient(#fff 75%, #EDEDED 25%);
  }
}

.concept__image {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* work
-------------------------------*/
.work {
  padding-top: 80px;
}

@media (max-width: 670px) {
  .work {
    position: relative;
    padding: 40px 0 24px;
  }
  .work::before, .work::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 1px;
    background: #333;
  }
  .work::before {
    bottom: 26px;
    left: 79%;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .work::after {
    bottom: 30px;
    right: 5%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .9s ease-in-out;
    transition: .9s ease-in-out;
  }
}

@media (max-width: 670px) {
  .arrow_display.work::before {
    width: 60px;
  }
  .arrow_display.work::after {
    width: 10px;
  }
}

@media (max-width: 670px) {
  .work__contents__wrapper {
    overflow-x: auto;
    overflow-y: visible;
  }
  .work__contents__wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 8px;
  }
  .work__contents__wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  .work__contents__wrapper::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
}

.work__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 1680px;
}

@media (max-width: 670px) {
  .work__contents {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
  }
}

.work__content {
  width: 420px;
  padding-bottom: 80px;
  text-align: left;
  line-height: 1.8;
}

.work__content:nth-of-type(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.work__content:nth-of-type(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 120px;
}

@media (max-width: 670px) {
  .work__content:nth-of-type(2) {
    margin-top: 0;
  }
}

.work__content:nth-of-type(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.work__content:nth-of-type(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (max-width: 670px) {
  .work__content {
    width: 80vw;
    padding-bottom: 40px;
  }
  .work__content:not(:last-of-type) {
    margin-right: 24px;
  }
}

.work__content__image {
  width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 670px) {
  .work__content__image {
    height: 200px;
    margin-bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 670px) {
  .work__image__gift {
    -o-object-position: 0 75%;
       object-position: 0 75%;
  }
}

@media (max-width: 670px) {
  .work__image__decoration {
    -o-object-position: 0 65%;
       object-position: 0 65%;
  }
}

@media (max-width: 670px) {
  .work__image__wedding {
    -o-object-position: 0 60%;
       object-position: 0 60%;
  }
}

.work__content__heading {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.work__content__text {
  letter-spacing: 1.5px;
}

/* florist
-------------------------------*/
.florist {
  padding-top: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #EDEDED), color-stop(40%, #fff));
  background: linear-gradient(#EDEDED 60%, #fff 40%);
}

@media (max-width: 670px) {
  .florist {
    padding: 40px 0;
    background: #EDEDED 55%;
  }
}

@media (max-width: 670px) {
  .florist__persons__wrapper {
    overflow-x: auto;
    overflow-y: visible;
  }
  .florist__persons__wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 8px;
  }
  .florist__persons__wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  .florist__persons__wrapper::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
}

.florist__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 670px) {
  .florist__persons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.florist__person {
  width: 300px;
  padding-bottom: 40px;
  text-align: left;
  line-height: 1.8;
  font-size: 0;
}

@media (max-width: 670px) {
  .florist__person {
    width: 80vw;
  }
  .florist__person:not(:last-of-type) {
    margin-right: 24px;
  }
}

.florist__person:hover .florist__person__image > img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.florist__person__image {
  width: 100%;
  margin-bottom: 12px;
  overflow: hidden;
}

@media (max-width: 670px) {
  .florist__person__image {
    margin-bottom: 0;
  }
}

.florist__person__image img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.florist__person__name {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.florist__person__introduce {
  font-size: 16px;
  letter-spacing: 1.5px;
}

/* information
-------------------------------*/
.shopInformation {
  padding: 80px 0 120px;
}

@media (max-width: 670px) {
  .shopInformation {
    padding: 40px 0;
  }
  .shopInformation p {
    text-align: center;
  }
}

.shopInformation__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 670px) {
  .shopInformation__contents {
    display: block;
  }
}

.shopInformation__image {
  width: 50%;
}

@media (max-width: 670px) {
  .shopInformation__image {
    width: 100%;
  }
}

.shopInformation__table {
  width: 45%;
  border-spacing: 16px;
  text-align: left;
  letter-spacing: 1.5px;
  line-height: 2;
}

@media (max-width: 670px) {
  .shopInformation__table {
    width: 100%;
  }
}

.shopInformation__table tbody {
  vertical-align: inherit;
}

.shopInformation__table__heading {
  width: 25%;
  border-right: 1px solid #A0A0A0;
}

/* contact
-------------------------------*/
.contact {
  padding: 80px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url(../img/contact_us.png);
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/contact_us.png);
  background-size: cover;
}

@media (max-width: 670px) {
  .contact {
    padding: 40px 0 64px;
  }
}

.btn__contact {
  position: relative;
  display: inline-block;
  width: 360px;
  padding-left: 40px;
  height: 80px;
  line-height: 80px;
  letter-spacing: 2px;
  border: 1px solid #A0A0A0;
  background: #fff;
  font-size: 20px;
  -webkit-transition: background-color .4s color .4s;
  transition: background-color .4s color .4s;
}

.btn__contact:hover {
  background: #2B2B2B;
  color: #fff;
}

.btn__contact:hover::before {
  border: 1px solid #fff;
}

.btn__contact:hover::after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.btn__contact::before, .btn__contact::after {
  content: '';
  position: absolute;
  border-radius: 2px;
}

.btn__contact::before {
  top: 30px;
  left: 85px;
  width: 30px;
  height: 20px;
  border: 1px solid #2B2B2B;
}

.btn__contact::after {
  top: 21px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #2B2B2B;
  border-bottom: 1px solid #2B2B2B;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 670px) {
  .btn__contact {
    width: 280px;
    padding-left: 50px;
  }
  .btn__contact::before {
    left: 45px;
  }
  .btn__contact::after {
    left: 50px;
  }
}

/* footer
-------------------------------*/
.footer {
  text-align: center;
}

.footer__copyright {
  line-height: 40px;
  letter-spacing: 1.4px;
}
